<!DOCTYPE html>
   <head>
      <link rel="stylesheet" type="text/css" href="/static/css/index.css">
      <title>{{ title }}</title>
   </head>
   <body>
      <!-- <div class="epaper">
         <div class="top">{{ celsius }}</div>
         <div class="middle">{{ time }}</div>
         <div class="bottom">some text is in here</div>
      </div> -->
      <div class="epaper">
            <div class="top">
               <div>{{ celsius }}</div>
               <div style="width:57%">{{ Condition }}</div>
            </div>
            <div class="linemiddle"></div>
            <img id="rechts" src="/static/res/{{ icon }}.png">
            <div class="mid">
               <div class="middle">{{ time }}</div>
               <div class="secoundmiddle">{{ dayname }}, der {{ date }}</div>
            </div>
            <div class="bottom">Sie haben 0 neue Nachrichten, deswegen die aktuellsten News: {{ newas }}</div>
         </div>
   </body>
</html>
