<!DOCTYPE html>
   <head>
      <link rel="stylesheet" type="text/css" href="/static/css/index.css">
      <title>{{ title }}</title>
   </head>
   <body>
      <!-- <div class="epaper">
         <div class="top">{{ celsius }}</div>
         <div class="middle">{{ time }}</div>
         <div class="bottom">some text is in here</div>
      </div> -->
      <div class="epaper">
            <div class="top">
               <div>{{ celsius }}</div>
               <div style="width:57%">Bewölkt</div>
            </div>
            <div class="linemiddle"></div>
            <img id="rechts" src="/static/res/02d.png">
            <div class="mid">
               <div class="middle">16:39</div>
               <div class="secoundmiddle">Samstag, der 21.09.2019</div>
            </div>
            <div class="bottom">Sie haben 0 neue Nachrichten, deswegen die aktuellsten News: {{ celsius }}</div>
         </div>
   </body>
</html>