body {
    background-color: black;
    /* margin: 0px; */
}
.epaper{
    width: 640px;
    height: 384px;
    background-color: white;
}
.top {
    height: 30%;
    width: 100%;
    background-color: white;
    font-size: 200%;
}
.middle {
    height: 50%;
    width: 100%;
    background-color: white;
    font-size: 200%;
}
.bottom {
    height: 20%;
    width: 100%;
    background-color: white;
    font-size: 200%;
}